@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n72zoy');
  src:  url('fonts/icomoon.eot?n72zoy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n72zoy') format('truetype'),
    url('fonts/icomoon.woff?n72zoy') format('woff'),
    url('fonts/icomoon.svg?n72zoy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-plus:before {
  content: "\ea0a";
}


html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
}
.list-books-title h1,
.list-books-title h2,
.list-books-title h3 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 1.4em;
  color: #fff;
}

.open-search a:before{
    font-family: 'icomoon';
    font-style: normal;
    position: absolute;
    content: "\e986";
    top: 9px;
    left: 13px;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer,
.book-shelf-preview {
  position: absolute; 
  right: -5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-shelf-changer:before,
.book-shelf-preview:before{    
    font-family: 'icomoon';
    color: white;
    font-style: normal;
    position: absolute;
    
}

.book-shelf-changer{
  background: #60ac5d;  
  bottom: 10px;
}

.book-shelf-changer:before{
  content: "\ea0a";
  top: 6px;
  left: 9px;
}

.book-shelf-preview{
  bottom: 50px;
  background: #00bcd4;  
  text-decoration: none;
}

.book-shelf-preview:before{
  content: "\e9bd";
  top: 6px;
  left: 9px;
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-content{
  padding: 30px 50px;
  max-width: 1000px;
  margin: auto;
}

.book-content > * {
    margin-bottom: 5px;
}

.book-content .book-title{
    color: #2e7c31;
    font-size: 1.3em; 
}

.book-content .book-authors{
    color: #000;
}
.book-content .book-description{
    font-style: italic;
    color: #958d8d;
    margin: 20px 0;
}

.book-content .book-publishInfo{
    font-size: 0.8em;
    float: right;
    color: #484444;
}

.book-content .book-categories{
  float: left;
}

.book-content .book-categories span{
    background-color: #2e7c31;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.9em;  
}

.book-content .book-cover{
  float: left;
  margin-right: 20px;
  width: 305px;
  height: 412px;
  background-size: cover;
}

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
